
body {
}

.site-title {
  /* border: 3px solid red; */
  /* text-decoration: none; */
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.site-title a {
  text-decoration: none;
  color: #111;
}

.site-title a:hover {
  color: #000;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .site-title {
    font-size: 24px;
  }
}