{{ partial "header.html" . }}

<main class="content" role="main">
  <div class="info-card">
    <img class="profile-pic"
       src="{{ .Site.BaseURL }}images/personal-pic.jpeg"
       alt="A portrait of Naveen M V"
       width="200"
       height="200"
       >
  </div>
  <i class="fi fi-rs-file-pdf"></i>
  <i class="fi fi-rr-envelope"></i>
  <i class="fi fi-brands-linkedin"></i>
  <i class="fi fi-brands-github"></i>


  <div class="archive">
    {{ range (where site.RegularPages "Type" "in" site.Params.mainSections).GroupByDate "2006" }}
    <h2 class="archive-title">{{ .Key }}</h2>
    {{ range .Pages }}
    <article class="archive-item">
      <a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a>
      <span class="archive-item-date">
        {{ .Date.Format "January 2, 2006" }}
      </span>
    </article>
    {{ end }}
    {{ end }}
  </div>

</main>

{{ partial "footer.html" . }}
