{{ partial "header.html" . }}

<main class="content" role="main">
  <div class="info-card__container">
    <div class="info-card">
      <img class="profile-pic"
        src="{{ .Site.BaseURL }}images/personal-pic.jpeg"
        alt="A portrait of Naveen M V"
        >

      <div class="profile__links__container">
        <div class="profile__links">
          <i class="fi fi-rr-envelope"></i>
          <a href="mailto:naveenmv7@gmail.com" target="_blank">naveenmv7@gmail.com</a>
        </div>

        <div class="profile__links">
          <i class="fi fi-rs-file-pdf"></i>
          <a href="./files/naveen_mv_resume.pdf" target="_blank">Resume</a>
        </div>
        
        <div class="profile__links">
          <i class="fi fi-brands-linkedin"></i>
          <a href="https://ch.linkedin.com/in/naveen-mv" target="_blank">naveenmv</a>
        </div>

        <div class="profile__links">
          <i class="fi fi-brands-github"></i>
          <a href="https://github.com/naviji" target="_blank">naviji</a>
        </div>
      </div>
    </div>
  </div>


  <div class="archive">
    {{ range (where site.RegularPages "Type" "in" site.Params.mainSections).GroupByDate "2006" }}
    <h2 class="archive-title">{{ .Key }}</h2>
    {{ range .Pages }}
    <article class="archive-item">
      <a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a>
      <span class="archive-item-date">
        {{ .Date.Format "January 2, 2006" }}
      </span>
    </article>
    {{ end }}
    {{ end }}
  </div>

</main>

{{ partial "footer.html" . }}
